DJANGO_SETTINGS_MODULE=config.settings.local
SECRET_KEY=cambia-esta-clave-por-una-segura
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=transporte_db
POSTGRES_USER=transporte_user
POSTGRES_PASSWORD=cambia-esta-password
POSTGRES_HOST=db
POSTGRES_PORT=5432
